	@charset "UTF-8";
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
        font-size: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        word-break: break-all;
    }

    div {
        display: block;
    }

    #container {
        position: relative;
        width: 100%;
        z-index: 7;
    }

    #contents {
        clear: both;
        padding-bottom: 50px;
        position: relative;
        width: 980px;
        margin: 0 auto;
    }

    .cs_title {
        position: relative;
        height: 72px;
        padding-top: 30px;
        border-bottom: 3px solid #241d1e;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cs_title h3 {
        margin: 0;
        color: #222;
        font-weight: 500;
        font-size: 1.7em;
        margin-right: auto;
    }
    
    a {
        text-decoration: none;
    }
    
    .category_menu {
        position: relative;
        background-color: #fff;
        border-bottom: 1px solid #cacaca;
        z-index: 101;
        display: flex;
        justify-content: center;
    }

    .category_contents_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        padding: 11px 0;
        background-color: #fff;
        max-width: 980px;
    }

    .category_content {
        display: flex;
        justify-content: center;
        /* 	    justify-content: space-between;  */
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 740px;
        line-height: 23px;
        text-align: center;
    }

    .category_content li {
        /*    	 	margin: 0 50px;  */
        margin-right: 100px;
    }

    .category_content li:last-child {
        margin-right: 0;
    }

    ol, ul {
        list-style: none;
    }

    ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .category_content li a {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        color: #666;
    }
    
    .category_product_wrap {
        width: 980px;
        margin: 0 auto;
        padding: 90px 0;
    }
    
    .category_content li.active a {
    font-weight: 600;
    color: #222;
  } 
     .tab_wrap.outer 
    padding-top: 80px; 
 } 

.tab_wrap { 
     position: relative; 
 } 

 ul { 
    display: block; 
     list-style-type: disc; 
     margin-block-start: 1em; 
     margin-block-end: 1em; 
     margin-inline-start: 0px; 
     margin-inline-end: 0px; 
    padding-inline-start: 40px; 
 } 


ul, ol {
    list-style: none;
}

.tab_wrap  .tab_con {
    overflow: inherit;
    position: relative;
    width: auto;
    height: auto;
}

.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}	

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contents_customer .con_top.ty3 {
    text-align: left;
    padding: 35px;
}

.contents_customer .con_top {
    position: relative;
    background-color: #F8F8F8;
    padding: 35px 0;
    text-align: center;
}

div {
    display: block;
}

.con_top p {
    font-size: 15px;
    line-height: 24px;
    margin-left: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.con_top {
    position: relative;
    background-color: #F8F8F8;
    margin-top: 30px;
    padding: 20px 0;
}

.con_tit {
    font-size: 20px;
    margin: 20px 0;
}

.con_tit.ty2 .tit {
    display: inline-block;
}

h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.con_tit .group_rgt {
    float: right;
    margin-top: 40px;
}

.con_tit .txt_req {
    font-size: 14px;
    color: #FF243E;
}

.tbl_form {
    border-top: 1px solid #BBBBBB;
    margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

.cs_title h3>span { 
     color: #333; 
     font-size: 18px; 
     margin-left: 8px; 
     font-weight: 400; 
 } 
 
 .search_wrap {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #F8F8F8;
    padding: 30px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.search_wrap.ty2 input[type="text"] {
    width: 440px;
    margin-right: 8px;
}

input[type="password"], input[type="text"], input[type="number"], input[type="tel"] {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
}

input, select, button {
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body, input, button, select, textarea {
    font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
    color: #000;
}

.search_wrap [class^="btn_col"] {
    width: 86px;
    height: 38px;
    line-height: 34px;
    vertical-align: middle;
}

.btn_col2 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    background-color: #414141;
}

button {
    cursor: pointer;
}

p[_ngcontent-rnb-c156] {
    font-size: 12px;
    color: #303033;
    float: right;
    margin-bottom: 60px;
}

p[_ngcontent-rnb-c156] a {
    color: #000;
    text-decoration: underline;
}

.que:first-child{
    border-top: 1px solid black;
  }
  
.que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}

.category {
	font-size: 14px;
	color: #037b94!important;
}
  
.que::before{
  display: inline-block;
  content: 'Q.';
  font-size: 14px;
  color: #006633;
  margin: 0 5px;
}

.que:hover::before {
  content: 'Q.';
  color: #ec7f7a;
  font-weight: bold;
}

.que.on>span{
  color: #006633; 
  font-weight: bold;
}
  
.anw {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 0;
}
  
.anw::before {
  display: inline-block;
  content: 'A.';
  font-size: 14px;
  font-weight: bold;
  color: #ec7f7a;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top:50%; right: 10px;
  transform: translate(0, -50%);
}

.que .arrow-top {
  display: none;
}
.que .arrow-bottom {
  display: block;
}
.que.on .arrow-bottom {
  display: none;
}
.que.on .arrow-top {
  display: block; 
}

#Accordion_wrap {
	margin-top: 50px;
}


.anw span {
        white-space: pre-line;
        word-break: break-all;
}

